body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}


.header{
    text-align:center;
    
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

h2
{
text-align:center;}

.form{
	background:#f1f1f1; width:370px; margin:20 auto; padding-left:50px; padding-top:10px;
}

.form p.contact { font-size: 17px; margin:0px 0px 0px -10px;line-height: 50px; font-family:Arial, Helvetica;}

.form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }