body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}


.header{
    text-align:center;
    
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

p{
color: red;
}

#rcorners1 {
    border-radius: 5px;
    background: #73AD21;
 
    width: 200px;
    height: 30px; 
}

div {
    background-color: lightgrey;
    width: 200px;
    border: 10px solid green;
    padding: 25px;
    margin: 25px;
}